body{
    background-color:#1e90ff
    ;
}
.content{
    margin:5% 10%;
}
h1{
    color: white;
    font-weight: bold;
}

 a{
     color: white;
     
 }
tr:hover{
    background-color: white;
    color:#1e90ff;
    
}
tr:hover a{
    color:#1e90ff;
}
tr{
    background-color:none;
    color: white;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    margin-top: 10px; 
    border-radius: 8px;
}

#radio-button{
    font-size: 2rem;
}
.dot {
    height: 20px;
    width: 20px;
    background-color:none;
    border-radius: 50%;
    display: inline-block;
    border:1px solid white;
    text-align: center;
}
tr:hover .dot{
    background-color:white;
    border:1px solid #1e90ff;

}

.table{
    display: flex;
    justify-content: left;
}

form{
    align-items: center;
    text-align: center;
    padding: 60px;
    margin: auto;
    border: 1px solid white;
    height: 300px;
    border-radius: 10px;
}
.circle{
    margin: auto;
    width:80px;
    height: 80px;
    border-radius: 50%;
    border:2px solid white;
    background-color: none;
}

.input{
    border:2px solid white;
    background-color:#1e90ff;
    border-radius: 10px;
    color: white;
}
input{
    margin: auto;
}
.submit{
    
    
    padding: 5px 40px;
    background-color: rgb(255, 255, 255);
    color:#1e90ff;
    border-radius: 5px;
}
button{
    padding: 5px 40px;
    background-color:#1e90ff;
    color:rgb(255, 255, 255);
    border-radius: 5px;
}
